.heading {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: .75em;
  margin-top: 0;
}

.heading1 {
  font-size: 2rem;
}

.heading2 {
  font-size: 1.5rem;
}

.heading3 {
  font-size: 1.17rem;
}

.heading4 {
  font-size: 1rem;
}

.heading5 {
  font-size: .83rem;
}

.heading6 {
  font-size: .75rem;
}
