/* Global styles */
body {
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .75em;
  margin-top: 0;
}

a, a:visited {
  color: #666666;
}

td {
  border-top: solid 1px #d3d3d3;
}

td, th {
  padding: 10px;
}

table {
  border-collapse:collapse;
}

/* Documentation site component styles */
.page-grid {
  display:  grid;
  grid-gap: 10px;
  grid-template-areas: "....... header"
                       "sidebar content";
  grid-template-columns: 250px 1fr;
}

.example {
  background-color: #f4f6f9;
  border: solid 1px #d3d3d3;
  grid-area: content;
  margin-bottom: 16px;
  padding: 16px;
}

.example h4:first-of-type {
   margin-top: 0;
}

.example p:last-of-type {
   margin-bottom: 0;
}

.props tbody tr:nth-child(odd) {
  background-color: #f4f6f9;
}

.props tr td:last-of-type {
  text-align: center;
}

.props th, td {
  padding: .5em;
  text-align: left;
}

.page-head {
  align-items: center;
  display: flex;
  grid-area: header;
  padding-bottom: .5em;
  padding-top: .5em;
}

.page-head h1 {
  margin-bottom:  0;
}

.navigation {
  grid-area: sidebar;
  list-style-type: none;
  padding: .5em;
}

.navigation li {
  background-color: lightsteelblue;
  margin-bottom: .5em;
  padding: .5em;
}

.component-page {
  grid-area:  content;
}
